<div class="container mx-auto px-4 py-8">
  <div class="flex justify-center items-center h-screen">
    <div class="text-center bg-white rounded-lg shadow-lg p-10">
      <!-- 404 Heading -->
      <h1 class="text-6xl font-bold text-gray-800 mb-4">404</h1>

      <!-- 404 Message -->
      <p class="text-xl text-gray-600 mb-6">Oops! The page you're looking for does not exist.</p>

      <!-- Action Button -->
      <div class="flex justify-center">
        <button
          class="bg-emerald-600 text-white text-lg font-semibold px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-200"
          (click)="goHome()"
        >
          Go Back to Home
        </button>
      </div>
    </div>
  </div>
</div>
